body{
  background-color: whitesmoke;
}

#landing-box, nav, #current-nav, #content{
  width: 85%;
  max-width: 1350px;
  margin: 0 auto;
}

nav{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  grid-gap: 2em;
}

#current-nav{
  display: none;
  text-align: center;
}

@media only screen and (max-width: 750px){
  nav{
    display: none;
  }
  #current-nav{
    display: block;
  }
}


#content{

  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  padding: 0 1em 1em;
}


