.resume-box{
    display: grid;
    grid-template-columns: auto 10fr;
    grid-template-rows: auto 5fr 5fr;  
    grid-template-areas:
    "sidebar intro"
    "sidebar experience"
    "sidebar education";
    grid-column-gap: 1em;
  
    box-shadow: 2px 2px 10px grey;
  
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  
  .sidebar{
    grid-area: sidebar;
    background-color: #05595E; 
  
    color: white;
    padding: 0 1em;
  }
  
  .resume-intro{
    grid-area: intro;
  }
  
  .sidebar-section-heading{
    background-color: #00494D;
  }
  
  .experience-box, .education-box{
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  
  #resume-focus{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #resume-focus button{
    width: 12em;
  }
  