.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#landing-box{
  margin: 0 auto;
  width: 85%;
}

nav{
  text-align: center;
}

nav a{
  margin: 0 30px;
}

#content{
  width: 85%;
  margin: 0 auto;

  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  padding: 0 1em 1em;
}

.composition-title-box{
  text-align: center;
  border-radius: 2px;
  padding: 0;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 20px 2px rgb(204, 204, 204);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.composition-title-box-overlay{
  background-color: rgba(127, 127, 127, 0.50);
  height: 100%;
  padding: 50px;
  border-radius: 2px;
}


/* .composition-title-box h4{
  
  height: 30px;
  width: 65%;
  margin: 0 auto;
  border-radius: 4px;
} */

#listen-content-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px;
}

#event-content-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.composition-display-box{
  text-align: center;
}

.score-frame{
  width: 100%;
  min-height: 50em;
  max-height: 1200px;
  margin-top: 10px;
  border:none;
}

.event-box{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;

  box-shadow: 2px 2px 10px rgb(146, 146, 146);
  padding: 0.5em;

  cursor: pointer;
}

.event-image img{
  height: 145px;
  width: 145px;
}

.event-info h4{
  margin: 0;
}

.event-info h5{
  margin: 0 0 0 0.75em;
  color: rgb(146, 146, 146);
  font-weight: 500;
}

.event-info hr{
  margin: 0.1em 0 0 0;
}

.event-info p {
  margin: .33em 0 0 0.75em;
  font-size: 0.75em;
}

.resume-box{
  display: grid;
  grid-template-columns: auto 10fr;
  grid-template-rows: auto 5fr 5fr;  
  grid-template-areas:
  "sidebar intro"
  "sidebar experience"
  "sidebar education";
  grid-column-gap: 1em;

  box-shadow: 2px 2px 10px grey;

  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.sidebar{
  grid-area: sidebar;
  background-color: #05595E; 

  color: white;
  padding: 0 1em;
}

.resume-intro{
  grid-area: intro;
}

.sidebar-section-heading{
  background-color: #00494D;
}

.experience-box, .education-box{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#resume-focus{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

#resume-focus button{
  width: 12em;
}
